
<div class="container-fluid col-md-10 col-md-offset-1" id="postbody">

<h2 class="text-center">CONTENT</h2>

<% @contents.each do |c| %>

<div class = "row-fluid">

<h4><%= c.username %></h4>
<h4> Categories : <%= c.categ %> </h4>

<%=link_to 'video',"http://#{c.video}"%>

	<div class = "timecontainer">
	


	<% if Time.new.utc.year == c.created_at.to_s.split(/[^0-9]+/)[0].to_i%>
			<% if Time.new.utc.month == c.created_at.to_s.split(/[^0-9]+/)[1].to_i %>
				<% if Time.new.utc.day - c.created_at.to_s.split(/[^0-9]+/)[2].to_i < 2%>
					<% if Time.new.utc.hour == c.created_at.to_s.split(/[^0-9]+/)[3].to_i %>
						<% if Time.new.utc.min == c.created_at.to_s.split(/[^0-9]+/)[4].to_i %>
						a few seconds ago
						<% elsif Time.new.utc.min - c.created_at.to_s.split(/[^0-9]+/)[4].to_i < 2 %>
						a minute ago
						<% else %>
						<%= Time.new.utc.min - c.created_at.to_s.split(/[^0-9]+/)[4].to_i %> minutes ago
						<% end %>
					<% else %>
						<% if Time.new.utc.day == c.created_at.to_s.split(/[^0-9]+/)[2].to_i %>
							<% if Time.new.utc.hour - c.created_at.to_s.split(/[^0-9]+/)[3].to_i <2 %>
							an hour ago
							<% else %>
							<%= Time.new.utc.hour - c.created_at.to_s.split(/[^0-9]+/)[3].to_i %> hours ago
							<% end %>
						<% else %>
							<%= Time.new.utc.hour+24 - c.created_at.to_s.split(/[^0-9]+/)[3].to_i %> hours ago
						<% end %>
					<% end %>

				<% else %>
					<% if Time.new.utc.day - c.created_at.to_s.split(/[^0-9]+/)[2].to_i <2 %>
					yesterday
					<% else %>
					<%= Time.new.utc.day - c.created_at.to_s.split(/[^0-9]+/)[2].to_i %> days ago
					<% end %>
				<% end %>
			<% else %> 
				<% if Time.new.utc.month - c.created_at.to_s.split(/[^0-9]+/)[1].to_i <2 %>
					last month
				<% else %>
					<%= Time.new.utc.month - c.created_at.to_s.split(/[^0-9]+/)[1].to_i %> months ago
				<% end %>
			<% end %>
	<% else %>
		<%= Time.new.utc.year - c.created_at.to_s.split(/[^0-9]+/)[0].to_i %> years ago 
	<% end %>
	</div>

	

</div>

<br></br>
<% end %>

<br></br>
</div>
<div class="footer">
	<%= link_to 'NEW QUESTION', new_content_path, class: "btn btn-primary btn-block" %>
</div>
<br></br>





