<div class="container-fluid col-md-8 col-md-offset-2">




<%= bootstrap_form_for (@content) do |c| %>
	<%= c.text_area :username, label:'new username' %><br />
	<%= c.text_area  :categ, label:'new category' %><br />
	<%= c.text_area :video, label:'video' %> <br />
	<%= c.submit 'Submit', class: "btn btn-primary btn-block" %>
	


<% end %>

</div>