<div class="container-fluid col-md-8 col-md-offset-2">




<%= bootstrap_form_for (@content) do |s| %>
	<%= s.text_area :question, label:'Question?' %><br />
	<%= s.text_area :video, label:'Video' %><br />
	<%= s.text_area :picture, label:'Picture' %><br />
	<%= s.hidden_field :open, :value => false %><br />
	<%= s.submit 'Submit', class: "btn btn-primary btn-block" %>
	<%= s.hidden_field :tag, :value => @tag %><br />


<% end %>

</div>